<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="employee" class="com.SpringDependency1.Employee">
        <property name="name" value="Rohith"/>
        <property name="email" value="rohith@example.com"/>
        <property name="age" value="22"/>
        <property name="phone" value="9876543210"/>
    </bean>

</beans>
